################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SwaggerAPIToRDFConvertor/SwaggerAPIToRDFConvertor/wwwroot/lib
/.vs
/SwaggerAPIToRDFConvertor/.vs/SwaggerAPIToRDFConvertor
/SwaggerAPIToRDFConvertor/SwaggerAPIToRDFConvertor/obj
/SwaggerAPIToRDFConvertor/SwaggerAPIToRDFConvertor/bin/Debug/net6.0
/SwaggerAPIToRDFConvertor/.vs/ProjectEvaluation
/SwaggerAPIToRDFConvertor/SwaggerToRDFConvertor/bin/Debug/net6.0
/SwaggerAPIToRDFConvertor/SwaggerToRDFConvertor/obj
